{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    {% for message in app.flashes("success")  %}

        <div class="flash-notice">
            {{ message }}
        </div>

    {% endfor %}

    <section id="main">

        {% for post in posts %}

            <div class="item">

                <h3> {{ post.title }} </h3>

                <p> {{ post.content }} </p>

                <a href="{{ path('post.delete', {post: post.id}) }}"> Delete </a>

            </div>

        {%  endfor %}

    </section>

{% endblock %}
