{% extends 'base.html.twig' %}

{% block body %}

    {% for message in app.flashes("success")  %}

        <div class="flash-notice">
            {{ message }}
        </div>

    {% endfor %}

    <h1> {{ post.title }} </h1>

    <p> {{ post.content }} </p>

{% endblock %}