{% extends 'base.html.twig' %}

{% block title %} Articles {% endblock %}

{% block body %}

    <nav>
        <ul>
            <li>
                <a href="{{ path( 'article_index' ) }}"> Home </a>
            </li>
        </ul>
    </nav>

    <h1> {{ slug }} </h1>

    <div class="like">
        <a href="{{ path('article_toggle_heart', {'slug': slug }) }}">
            <span></span><i class="far fa-heart"></i>
        </a>

    </div>

    <div>
        {{ content|raw }}
    </div>

    <h2>Comments ( {{ comments|length }} )</h2>
    <ul>
        {% for comment in comments %}

            <li> {{ comment }} </li>

        {% endfor %}
    </ul>

{% endblock %}

{%  block javascripts %}

    {{ parent() }}
    <script src="{{ asset('scripts/heart.js') }}"></script>

{% endblock %}